@media (min-width: 480px) and (max-width: 600px) {
  /* Timer */
  time {
    font-size: 6rem;
  }

  /* Botones de control */
  .buttons-container {
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .buttons-container button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }

  .pomodoro-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .settings-btn {
    width: 50px;
    height: 50px;
    top: 30%;
  }

  /* Panel de settings */
  .settings-panel {
    left: 50%;
    top: 200%;
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .settings-panel.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  /* Reproductor */
  .music-player {
    position: fixed;
    bottom: 90%;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 86%;
    gap: 0.5rem;
  }

  .music-controls {
    justify-content: center !important;
  }

  /* Panel del reproductor (lista de música) */
  .music-menu {
    position: fixed;
    width: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    max-height: 250px;
  }

  .music-menu.show {
    transform: translateX(-50%) translateY(0); /* 👈 también aquí */
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  time {
    font-size: 6rem;
  }

  /* Botones de control */
  .buttons-container {
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .buttons-container button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }

  .pomodoro-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .settings-btn {
    width: 50px;
    height: 50px;
    top: 30%;
  }

  /* Panel de settings */
  .settings-panel {
    left: 50%;
    top: 200%;
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .settings-panel.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  /* Reproductor */
  .music-player {
    position: fixed;
    bottom: 90%;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 60%;
    gap: 0.5rem;
  }

  .music-controls {
    justify-content: center !important;
  }

  /* Panel del reproductor (lista de música) */
  .music-menu {
    position: fixed;
    width: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    max-height: 250px;
  }

  .music-menu.show {
    transform: translateX(-50%) translateY(0); /* 👈 también aquí */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  time {
    font-size: 6rem;
  }

  /* Botones de control */
  .buttons-container {
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .buttons-container button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }

  .pomodoro-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .settings-btn {
    width: 50px;
    height: 50px;
    top: 30%;
  }

  /* Panel de settings */
  .settings-panel {
    left: 50%;
    top: 200%;
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .settings-panel.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  /* Reproductor */
  .music-player {
    position: fixed;
    bottom: 90%;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 60%;
    gap: 0.5rem;
  }

  .music-controls {
    justify-content: center;
  }

  /* Panel del reproductor (lista de música) */
  .music-menu {
    position: fixed;
    width: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    max-height: 250px;
  }

  .music-menu.show {
    transform: translateX(-50%) translateY(0); /* 👈 también aquí */
  }
}
